html {
    scroll-behavior: smooth;
    background-color: #434c5e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    color: #e5e9f0;;
    background-color: #434c5e;

}

.header a {
    color: #eceff4;
    text-decoration: none;
}

.nav_bar {
    height: 50px;
    display: grid;
    grid-template-columns: 37.5% 25% 37.5%;
    grid-template-rows: 50px auto;
}

.nav_bar * {
    margin: auto;
}

.nav_bar img {
    height: 30px;
}

.content, .header {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    background-color: #3b4252;
    min-height: 20em;
    padding: 10px;
    border-radius: 3px;
    color: #eceff4;
}

#top {
    display: inline;
}

#button_menu {
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}

#button_top {
    margin-left: 10px;
    margin-right: auto;
}

#menu {
    grid-row: 2;
    grid-column: span 3;
    background-color: #434c5e;
    width: 100%;
    grid-template-columns: 1fr;
}


#menu.menu_hide {
    display: none;
}

#menu:not(.menu_hide) {
    display: grid;
}

#menu a {
    display: inline-block;
    padding: 14px 3px;
}

#menu a:hover {
    background-color: #eceff4;
    color: #434c5e;
}

@media only screen and (min-width: 650px) {
    #button_menu {
        display: none;
    }

    #menu.menu_hide {
        /* fix the transition from mobile to pc
        */
        display: grid;
    }

    #menu {
        display: grid;
        grid-row: 1;
        grid-column: 3;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .h_link1 {
        grid-column: 1;
        grid-row: 1;
    }

    .h_link2 {
        grid-column: 2;
        grid-row: 1;
    }

    .h_link3 {
        grid-column: 3;
        grid-row: 1;
    }
}

header {
    transition: 0.5s;
}


#button_top {
    transition: 0.5s;
}

#button_top:hover {
    transform: rotate(-180deg);
}

.hidden {
    display: none;
}

.event {
    border-radius: 5px;
    padding: 3px;
    border-color: #a3be8c;
    color: #a3be8c;
    border-style: solid;
}

.error {
    border-color: #bf616a;
    color: #bf616a;
}